<web-app>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>org.richardliao.web.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
</web-app>